*{
    box-sizing:border-box;

}

.heading{

}

.subheading{

}

.heading-2{

}

.subheading-2{

}

.paragraph{

}

.container{

    display:flex;
    flex-direction:column;
    flex-wrap:wrap;

}

.row{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    width:100%;
}

.col-50{
    display:flex;
    flex-direction:column;
    width:50%;
}

.col-40{
    display:flex;
    flex-direction:column;
    width:40%;
}

.col-60{
    display:flex;
    flex-direction:column;
    width:60%;
}

.col-70{
    display:flex;
    flex-direction:column;
    width:70%;
}

.col-30{
    display:flex;
    flex-direction:column;
    width:30%;
}

.col-20{
    display:flex;
    flex-direction:column;
    width:20%;
}